@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #283040;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* Header */

header {
  height: 72px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #283040;
  font-family: 'Inter', sans-serif;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.24);
}

/* Cursor */
.typed-cursor {
  color: #09d;
}

#menu-icon {
  display: none;
}

header a {
  display: flex;
  align-items: center;
}

.logo p {
  font-family: 'Space Mono', 'Crete Round', 'Inter', sans-serif;
  color: #09d;
  font-size: 1.5rem;
}

.logo {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65% 48% 38% 36% / 49% 25% 54% 41%;
  border: 3px solid #09d;
}

header .logo:hover p {
  color: #283040;
}

header .logo:hover {
  background-color: rgb(0, 155, 221);
}

header nav {
  width: 50%;
  align-self: self-end;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.ol {
  color: #09d;
  margin-right: 5px;
}

footer a {
  display: flex;
  gap: 5px;
  color: #fff;
  font-size: 0.85rem;
}

header nav a {
  font-family: 'Space Mono', 'Inter', sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

footer a:hover {
  color: #0bb2fa;
}

header nav a:hover {
  color: #09d;
  transition-duration: 0.15s;
}

@media (max-width: 767px) {
  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .logo p {
    font-size: 1rem;
  }

  #menu-icon {
    display: flex;
  }

  header nav {
    position: fixed;
    z-index: 99;
    left: -100%;
    top: 72px;
    width: 100%;
    height: 100vh;
    background-color: #283040;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10%;
    padding-top: 20%;
    transition: 0.5s ease;
  }

  header nav a {
    font-size: 2rem;
    border-bottom: 1px solid #09d;
    width: 100%;
    padding: 5% 25%;
  }

  .navbar.active {
    z-index: 100;
    left: 0;
  }
}

/* Home */

.home {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283040;
  color: #fff;
}

.home .who-am-i {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.home .who-am-i .presentation {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
}

.presentation2 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Space Mono', sans-serif;
}

.typing-effect-span {
  font-size: 1.75rem;
  font-family: 'Space Mono', sans-serif;
  color: #09d;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.home .who-am-i h1 {
  font-family: 'Inter', sans-serif;
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.home .who-am-i .what-i-do {
  font-size: 1rem;
  width: 80%;
}

.home .who-am-i .social-media {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  position: fixed;
  left: 2%;
  top: 30%;
}

.home .who-am-i .social-media .vertical-line {
  width: 2px;
  height: 300px;
  background-color: #009bdd69;
}

.home .who-am-i .social-media svg {
  border: 1px solid #09d;
  padding: 8px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.home .who-am-i .social-media svg:hover {
  fill: #283040;
  background-color: #09d;
  box-shadow: 0 0 2em #09d;
  transform: translateY(-7px);
}

.btn {
  font-family: 'Space Mono', 'Inter', sans-serif;
  width: 45%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 800;
  transition-duration: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #283040;
  background-color: #fff;
}

.btn:hover a {
  color: #283040;
}

.avatar-container {
  width: 40%;
  display: flex;
  justify-content: center;
  animation: animate-desktop-img-container 10s ease infinite;
}

.avatar-container img {
  width: 70%;
  background-color: #09d;
  border: 2px solid #fff;
  border-radius: 100% 63% 83% 100% / 54% 85% 85% 86%;
  box-shadow: 0 0 4em #09d;
  animation: animate-img ease 5s infinite;
}

@keyframes animate-img {
  0%,
  100% {
    border-radius: 100% 63% 83% 100% / 54% 85% 85% 86%;
  }

  50% {
    border-radius: 100% 61% 83% 100% / 88% 63% 53% 100%;
  }
}

@keyframes animate-desktop-img-container {
  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(90px, 0);
  }

  50% {
    transform: translate(0, -40px);
  }

  75% {
    transform: translate(-50px, 40px);
  }
}

@keyframes animate-mobile-img-container {
  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(40px, 0);
  }

  50% {
    transform: translate(0, -10px);
  }

  75% {
    transform: translate(-30px, 20px);
  }
}

@media (max-width: 767px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .home .who-am-i {
    align-items: center;
  }

  .home .who-am-i .social-media {
    display: none;
  }

  .home .who-am-i .presentation {
    text-align: center;
  }

  .home .who-am-i .presentation2 {
    text-align: center;
    font-size: 1.5rem;
    white-space: pre-line;
  }

  .home .who-am-i .presentation2 .typing-effect-span {
    font-size: 1.3rem;
  }

  .home .who-am-i h1 {
    text-align: center;
  }

  .home .who-am-i .what-i-do {
    text-align: center;
    width: 100%;
  }

  .avatar {
    width: 90%;
    z-index: 1;
  }

  .btn {
    width: auto;
    padding: 5%;
  }

  .avatar-container {
    width: 70%;
    animation: animate-mobile-img-container 10s ease infinite;
  }
}

@media (max-width: 576px) {
  .home .who-am-i .presentation {
    text-align: center;
  }

  .typing-effect {
    font-size: 1.4rem;
  }

  .home .who-am-i h1 {
    text-align: center;
    font-size: 2rem;
  }

  .home .who-am-i .what-i-do {
    text-align: center;
  }

  .avatar-container {
    width: 70%;
  }

  .avatar {
    width: 90%;
  }

  .btn {
    width: 120%;
  }
}

/* Work section */

.work {
  width: 100%;
  background-color: #283040;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 150px;
}

.section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2%;
}

.section-title h2 {
  width: auto;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
}

.section-title h2 .section-nbr {
  font-family: 'Space Mono', 'Inter', sans-serif;
  color: #09d;
  margin-right: 5px;
}

.section-title .title-line {
  width: 70%;
  height: 2px;
  background-color: #009bdd79;
}

.card {
  width: 80%;
  display: flex;
}

.card img {
  width: 55%;
  height: 400px;
  filter: grayscale(75%);
  filter: blur(60%);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  box-shadow: 0 3px 8px 2px rgba(14, 17, 23, 0.88);
  border-left: 5px solid #009bdd75;
  border-top: 5px solid #009bdd75;
  border-bottom: 5px solid #009bdd75;
  transition: 0.5s ease-in-out;
}

.card .even-imag {
  border-right: 5px solid #009bdd75;
  border-top: 5px solid #009bdd75;
  border-bottom: 5px solid #009bdd75;
  border-left: 0;
  border-radius: 0 10px 10px 0;
}

.card .even-imag:hover {
  filter: grayscale(0%);
  filter: blur(0%);
  border-left: 0;
}

.card img:hover {
  filter: grayscale(0%);
  filter: blur(0%);
  border-left: 5px solid #009bdd75;
}

.card .card-description-odd {
  align-items: end;
}

.card-even {
  display: flex;
  flex-direction: row-reverse;
}

.card-even .card-description-even {
  align-items: start;
}

.card .card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

.card .card-description .Featured-Project {
  color: #09d;
  font-family: 'Space Mono', 'Inter', sans-serif;
  font-size: 1rem;
}

.card .card-description .Featured-Project span {
  color: #fff;
}

.card .card-description .project-name {
  color: #fff;
  font-size: 1.5rem;
}

.card .card-description .project-description {
  color: #fff;
  text-align: right;
  line-height: 25px;
  background-color: rgb(27, 33, 44);
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  width: 110%;
  height: 150px;
  position: relative;
  border-radius: 5px;
}

.card .card-description .project-description-even {
  text-align: left;
}

.card .card-description .tech-used {
  width: 100%;
  font-family: 'Space Mono', 'Inter', sans-serif;
  color: #fffc;
  display: flex;
  justify-content: end;
  gap: 8%;
  font-size: 1rem;
}

.card .card-description-even .tech-used-even {
  justify-content: start;
  flex-direction: row-reverse;
}

.card .card-description .show {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 20%;
}

.card .card-description .show .demo-code-link {
  width: 50%;
  height: 40px;
  border: 2px solid #09d;
  background: transparent;
  border-radius: 10px;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-description .show .demo-code-link .demo-code {
  width: 100%;
  height: 40px;
  color: #09d;
  font-size: 1rem;
  font-family: 'Space Mono', 'Inter', sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.card .card-description .show .demo-code-link .demo-code:hover {
  background-color: #09d;
  color: #283040;
  box-shadow: 0 0 2em #09d;
}

@media (max-width: 767px) {
  .section-title {
    gap: 5%;
  }

  .section-title h2 {
    width: auto;
  }

  .section-title .title-line {
    width: 40%;
  }

  .card {
    width: 92%;
    flex-direction: column-reverse;
    gap: 30px;
    border: 3px solid rgba(0, 155, 221, 0.541);
    background-color: #3b4455;
    border-radius: 10px;
    padding: 20px;
  }

  .card img {
    width: 100%;
    height: 200px;
    border: 5px solid #009bdd75;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }

  .card .card-description .project-description {
    text-align: left;
    justify-content: left;
    width: 100%;
    padding: 10px;
  }

  .card .card-description {
    align-items: center;
  }
}

/* Contact */

.contact {
  width: 100%;
  background-color: #283040;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 150px;
}

.transAll {
  animation: transAll .2s ease-in;
}

.contact-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.contact-title h2 {
  width: auto;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
}

.contact-title h2 .section-nbr {
  font-family: 'Space Mono', 'Inter', sans-serif;
  color: #09d;
  margin-right: 5px;
}

.contact-title .title-line {
  width: 30%;
  height: 2px;
  background-color: #009bdd79;
}

.contact .form-container {
  width: 80%;
  display: flex;
  justify-content: start;
  gap: 3%;
}

.contact .form-container .para-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  border: 3px solid #ffffff86;
  border-radius: 10px;
  background: url(./Assets/form4.jpg);
  background-size: cover;
  filter: grayscale(70%);
  transition: 0.5s ease;
}

.contact .form-container .para-container .electric-line {
  height: 30%;
  width: 3px;
  background-color: #09d;
  position: absolute;
  top: 0;
}

.contact .form-container .para-container p {
  width: 90%;
  height: 20%;
  text-align: center;
  color: #9fe2ff;
  font-family: 'Space Mono', sans-serif;
  font-size: 1.25rem;
  transition: 0.5s ease;
}

.about-me-container .about-me .function-info-container p {
  height: 400px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5rem;
  padding: 2%;
  line-height: 40px;
  background-color: #3b4455;
}

.contact .form-container .para-container .logo p {
  border: 0;
  font-family: 'Space Mono', 'Crete Round', 'Inter', sans-serif;
  color: #ffffff86;
  font-size: 3.75px;
}

.contact .form-container .para-container .logo {
  width: 60px;
  height: 50px;
  background-color: #09d;
  border-radius: 50%;
  border: 3px solid #ffffff86;
  rotate: 180deg;
  transition: 0.5s ease;
}

.contact .form-container .para-container:hover .logo {
  box-shadow: 0 0 5em #09d;
  border: 3px solid #09d;
}

.contact .form-container .para-container:hover {
  border-color: #09d;
  filter: grayscale(0%);
}

.contact .form-container .para-container:hover p {
  color: white;
}

.contact .form-container form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .form-container form input {
  background-color: transparent;
  height: 40px;
  font-size: 1rem;
  border: 0;
  border-bottom: 0.5px solid #ffffff86;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 15px;
  outline: none;
}

.contact .form-container form input:hover {
  border-color: #09d;
}

.contact .form-container form textarea {
  width: 100%;
  border-radius: 10px;
  background-color: #28304041;
  padding: 15px;
  color: #fff;
  font-size: 1rem;
}

.contact .form-container form textarea:hover {
  border-color: #09d;
}

::placeholder {
  color: #ffffff70;
}

.contact .form-container form .fullname {
  display: flex;
  justify-content: space-between;
}

.contact .form-container form .fullname input {
  width: 48%;
}

.contact .form-container form button {
  align-self: self-start;
}

.error {
  color: rgb(245, 74, 74);
  font-family: 'Space Mono', 'Crete Round', 'Inter', sans-serif;
  font-size: 0.75rem;
}

@media (max-width: 767px) {
  .contact .contact-title {
    width: 80%;
    align-items: center;
    gap: 3%;
  }

  .contact-title .title-line {
    width: 30%;
  }

  .contact-title h2 {
    width: 35%;
  }

  .contact .form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .contact .form-container .para-container {
    width: 100%;
    height: 400px;
  }

  .contact .form-container form {
    width: 100%;
  }

  .contact .form-container form button {
    align-self: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .contact-title .title-line {
    width: 15%;
  }

  .contact-title h2 {
    width: 65%;
  }
}

footer {
  font-family: 'Space Mono', 'Crete Round', 'Inter', sans-serif;
  color: #fff;
  height: 300px;
  background-color: #283040;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  justify-content: end;
  gap: 2%;
}

@media (max-width: 767px) {
  footer {
    height: 120px;
  }
}

/* About me */

.about-me-container {
  margin-top: 150px;
  background-color: #283040;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.about-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-bottom: 120px;
}

.about-title h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.about-title h2 .section-nbr {
  font-family: 'Space Mono', 'Inter', sans-serif;
  color: #09d;
  margin-right: 5px;
  width: 20%;
}

.about-title .title-line {
  width: 33%;
  height: 2px;
  background-color: #009bdd79;
}

.about-me-container .about-me {
  width: 85%;
  display: flex;
  align-items: center;
  gap: 3%;
}

.info2,
.info3,
.info4 {
  display: none;
}

.about-me-container .about-me .function-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.about-me-container .about-me .function-container li {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border-left: 2px solid #3b4455;
}

.about-me-container .about-me .function-container .function1 {
  color: #09d;
  background-color: #3b4455;
}

.about-me-container .about-me .function-info-container {
  width: 70%;
  overflow-y: scroll;
  background-color: #3b4455;
}

.about-me-container .about-me .function-info-container p .variable {
  color: #e3244c;
}

.about-me-container .about-me .function-info-container p .identifiant {
  color: #24e394;
}

.about-me-container .about-me .function-info-container p .content-nbr {
  color: #e39d24;
}

.about-me-container .about-me .function-info-container p .content-string {
  color: #24e33a;
}

.about-me-container .about-me .function-info-container p .acolade {
  color: yellow;
  font-size: 1.5rem;
}

.about-me-container .about-me .function-info-container p .comment {
  color: #9a92a0;
}

.te-array {
  font-size: 1.2rem;
  overflow: hidden;
  border-right: 0.2rem solid #24e33a;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to { border-color: transparent; }
  50% { border-color: #24e33a; }
}

@media (max-width: 767px) {
  .about-me-container .about-me {
    flex-direction: column;
    align-items: center;
    width: 90%;
    display: flex;
    gap: 2%;
  }

  .about-title {
    width: 100%;
    justify-content: center;
    gap: 5%;
  }

  .about-title .title-line {
    width: 20%;
  }

  .about-me-container .about-me .function-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .about-me-container .about-me .function-container li {
    width: auto;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    font-weight: 600;
    cursor: pointer;
    border-left: 0;
    border-top: 2px solid #3b4455;
    text-align: center;
  }

  .about-me-container .about-me .function-info-container {
    width: 100%;
  }

  .about-me-container .about-me .function-info-container p {
    height: 420px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8rem;
    padding: 3%;
    line-height: 40px;
    background-color: #3b4455;
  }

  .about-me-container .about-me .function-info-container p .acolade {
    font-size: 0.9rem;
  }

  .te-array {
    font-size: 0.7rem;
    border-right: 0.15rem solid #24e33a;
  }

  footer {
    font-size: 0.8rem;
  }

  footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 0.75rem;
  }

  footer a svg {
    width: 16px;
  }
}

@media (max-width: 557px) {
  .about-me-container .about-me .about-title h2 {
    width: 60%;
  }

  .about-me-container .about-me .about-title .about-line {
    width: 40%;
  }
}

@media (max-width: 375px) {
  .about-me-container .about-me .about-title h2 {
    width: 100%;
    align-items: center;
  }

  .about-me-container .about-me .about-title .about-line {
    display: none;
  }
}
